# OM Modules URLs

OM_SERVICES_URL=http://localhost:3000

OM_API_VERSION=1.0

# Clockify API key

CLOCKIFY_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Slack API tokens

SLACK_APP_TOKEN=xoxp-0000000-0000000000-0000000000000-00f0f0f0f0f0f00f0f00f0f0f00f0f000f

SLACK_BOT_TOKEN=xoxb-000000000000-S0SfS0SfS0SfS0SfS0SfS0SfS0Sf

SLACK_CLIENT_ID=0000000000.0000000000000

SLACK_CLIENT_SECRET=3098234982349823049823402830abcdefg

# OM Auth tokens

INTEGRATION_USER_TOKEN=asdfasdf==:asdfasdf==

SLACK_TOKEN=sampleSAMPLE0987654321SAMPLE

GIT_TOKEN=sampleSAMPLE0987654321SAMPLE

TRELLO_TOKEN=sampleSAMPLE0987654321SAMPLE

EMAIL_TOKEN=sampleSAMPLE0987654321SAMPLE
